* {
  box-sizing: border-box;
}

body {
  width: 40rem;
  height: auto;
  padding: 0;
  margin: 3rem auto;
  text-align: center;
  line-height: 1.25;
  border: 2px solid black;
  border-radius: 10px;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer
}


